.source {
    margin-right: 15;
    margin-right: 15;
}

.destination {
    margin: 25;
}

.material-icons {
    font-family: 'material_icons';
}

.mButtons {
    background-color: white;
    padding-left: 15;
    border-color: transparent;
    padding-right: 15;
    elevation: lower;
    color: #2a313b;
    font-size: 14;
}

.mButtons:focus {
    color: #000;
    background-color: rgba(159, 167, 164, 0.43);
}

.destination_icon {
    font-family: 'material_icons';
    color: #39d179;
    font-size: 16;

}

.source_icon {
    font-family: 'material_icons';
    color: #39d179;
    font-size: 16;
}

.cardview {
    color: #424242;
    font-size: 16;
    padding-top: 8;
    padding-bottom: 8;
    padding-right: 15;
    padding-left: 15;

}

.red_button {
    background-color: #c0392b;
    padding-left: 15;
    border-color: transparent;
    padding-right: 15;
    elevation: lower;
}

.choosebox {
    background-color: white;
    padding-left: 15;
    border-color: transparent;
    padding-right: 15;
    elevation: lower;
    color: #2a313b;
    font-size: 14;
    text-transform: lowercase;
}

.greenbtn {
    margin: 15;
    margin-bottom: 25;
    background-color: #6FBE9C;
    color: white;
}

.greenbtn:focus {
    background-color: #228a48;
    color: #d5d5d5;
}
